<div class="row main-class">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs">
        <label class="genre-label">List name</label>
      </div>
      <div class="col-md-4 col-sm-4 col-xs">
        <input type="text" class="form-control input-lists" [(ngModel)]="newList" (change)="isNameValid = true"
          [ngStyle]="{'border': isNameValid ? null : '1.5px solid red'}" />
        <div class="erorr-genre">
          <p *ngIf="!isNameValid" class="error-paragraph">Unesite naziv</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs">
        <button type="button" class="btn btn-light" (click)="addList()">Add</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="list-group">
          <li (click)="openList(list.id)" class="list-group-item" [ngClass]="{selected: list.id == selectedListId}"
            *ngFor="let list of lists">{{list.listName}}</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="movies-in-list">
      <div *ngFor="let movie of selectedListMovies">
        <div class="row">
          <div class="col-md-10">
            <ul class="list-group">
              <li class="list-group-item" (click)="movie.isExpanded = !movie.isExpanded">
                <b>{{movie.naziv}}</b>
                <p>{{movie.kratakOpis}}</p>
                <div class="additional-data-div" *ngIf="movie.isExpanded">
                  <p class="additional-data">Directed by: {{movie.reziser}}</p>
                  <p class="additional-data">Produced by: {{movie.producent}}</p>
                  <p class="additional-data">Duration: {{movie.trajanje}}</p>
                  <p class="additional-data">Actors: {{getAllActors(movie.id)}}</p>
                  <p class="additional-data">Genres: {{getAllGenres(movie.id)}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>