<div class="row main-class">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <ul class="list-group">
          <li (click)="openMovieDetails(movie)" class="list-group-item" [ngClass]="{selected: movie?.id == selectedMovie?.id}"
            *ngFor="let movie of movies">
            {{movie.naziv}}
            <label class="rate">{{rate(movie)}}</label>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-6">

    <div class="movies-in-list" *ngIf="selectedMovie">
        <div class="row">
          <div class="col-md-10">
            <ul class="list-group">
              <li class="list-group-item cursor-default">
                <b>{{selectedMovie.naziv}}</b>
                <p>{{selectedMovie.kratakOpis}}</p>
                <div class="additional-data-div" >
                  <p class="additional-data"><label>Directed by:</label> {{selectedMovie.reziser}}</p>
                  <p class="additional-data"><label>Produced by:</label> {{selectedMovie.scenaristi}}</p>
                  <p class="additional-data"><label>Duration:</label> {{selectedMovie.trajanje}}</p>
                  <p class="additional-data"><label>Actors:</label> {{getAllActors(selectedMovie)}}</p>
                  <p class="additional-data"><label>Genres:</label> {{getAllGenres(selectedMovie)}}</p>
                </div>
                <input *ngIf="!isMovieRated(selectedMovie.id)" class="rate-movie-input" type="number" min="1" max="5" [(ngModel)]="rateNum" (keyup)="checkValue($event)">
                <button *ngIf="!isMovieRated(selectedMovie.id)" class="btn btn-light" (click)="rateMovie()">Rate movie</button>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>